@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$defaultOrange : #FFA400;
$secondColor : #333;

$defaultFontFamily : 'Poppins', sans-serif;

$mobileScreen     : 250px;
$tabletScreen     : 500px;
$desktopScreen    : 1000px;
$desktopScreen_2  : 1200px;
$desktopScreen_3  : 1500px;
